@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Geostar+Fill&family=Keania+One&display=swap');
@font-face {
    font-family: 'DSEG14 Classic Mini';
    src: url(./../fonts/DSEG14ClassicMini-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --primary-color: #209504   ;
    --secondary-color: #000077 ;
    --accent1-color: #ce0100;
    --accent2-color: #04d50f;
    --main-background-color: #cccccc;
    --info-display-background-color: #e2e0d9;
    --background-standout: #ffffffcc;
    --border-width: 3px;
    --border-color: rgb(172, 172, 172);
    --heading-font : "Black Ops One";
    --paragraph-font: Verdana, Geneva, Tahoma, sans-serif;
}

/* COMMENT */
html {
    height: 100vh;
}
body {
    background-color: black;
    height: 100%;
    margin: 0;
}
.content {
    display: grid;
    grid-template-rows: 150px minmax(300px, 100%) 50px;
    height: 100%;
}
header {
    background-color: var(--main-background-color);
    padding: 20px;
    vertical-align: middle;
}
main {
    background-color: var(--main-background-color);
    display: grid;
    height: 100%;
    grid-template-columns: 400px auto;
}
footer {
    background-color: var(--main-background-color);
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    color: #777799;
    padding-top: 10px;
}
nav {
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav input {
    height: 37px;
    width: auto;
    position: relative;

    margin-bottom: 2px;
    background-color: #666677;
    box-sizing: border-box;
}
@keyframes button-glow {
    from {  color: #d6d6ea;
            text-shadow: rgba(210, 205, 164, 0) 0px 0px 5px;}
    to {    color: rgb(229, 235, 149);
            text-shadow: rgba(210, 205, 164, 255) 0px 0px 5px;}
}
.burger {
    display: inline;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333333;
    background-image: linear-gradient(#3d3d3d, #aaaaaa);
    color: #d6d6ea;
    border: 2px rgb(123, 121, 121) solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px; 
    border-radius: 7px;
    margin-bottom: 2px;
    display: none; /*Until needed */
}
.burger img {

    width: 23px;
    position: relative;
    top: 3px;
}
nav a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333333;
    background-image: linear-gradient(#3d3d3d, #aaaaaa);
    color: #d6d6ea;
    border: 2px rgb(123, 121, 121) solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
}
.current {
    color: var(--accent1-color);
    animation-name: button-glow;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
nav a:hover {
    background-color: #777799;
    color: #fffee3;
}
table, td {

    border-collapse: collapse;
    width: 100%;
    font-family: "DSEG14 Classic Mini";
}
tr:nth-child(even) {
    background-color: rgba(255,255,255,.05);
}
#title-text {
    color: black;
    font-size: 3em;
    font-family: "Black Ops One";
    font-weight: regular;
    text-shadow: #ffffff 0px 0px 5px;
    line-height: 0px;
    position: relative;
    left: -20px;
    top: -10px;
}
#title-image { 
    height: 70px;
}
#frequencies {
    background-color: #777799;
    display: grid;
    grid-template-columns: 3fr 2fr;
    max-height: 100%;
    padding: 0px;
    margin: 0px;
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-radius: 15px;
    box-sizing: border-box;
    overflow-y: hidden;
}
#freq-list {
    /* height: 100%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333333;
    color: rgb(222, 212, 154);
    box-sizing: border-box;
    display: inline-block;
    margin-right: -2px;
    padding: 6px;
    /* border: 0px white solid;
    border-radius: 10px 0px 0px 10px; */
    overflow-y: scroll;
    overflow-x: hidden;
    vertical-align: top;
}
@keyframes waterfall {
    from {  background-position-x: 0;}
    to {    background-position-x: 160px;}
}
 
#freq-display {
    background-color: #1f495c;
    background-image: url(./../images/waterfall-side.png);
    background-size: 100%;
    box-sizing: border-box;
    display: inline-block;
    margin-left: -2px;
    position: static;
    /*border: 0px white solid;
    /*border-radius: 0px 10px 10px 0px; */
    vertical-align: top;
    overflow: hidden;
    animation-name: waterfall;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    overflow-y: hidden;
}
#info-display {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 1.3em;
    display: grid;
    padding: 0px;
    grid-template-rows: auto 70px 1fr;
    background-color: var(--info-display-background-color);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    /* box-shadow: 10px 10px 5px #00000072 inset; */
    z-index: 1;
}
.info-display-text {
    grid-row: 2/4;
    grid-column: 1/2;
    text-shadow: white 1px 1px 3px, white -1px -1px 3px;
    /* background-color: #e2e0d944; */
    margin: 0px 0px 0px 0px;
    padding: 0px 40px 40px 40px;
    height: fit-content;
}
.info-display-gradient {
    background-image: linear-gradient(#e2e0d900, #e2e0d900, var(--info-display-background-color));
    grid-row: 1/3;
    grid-column: 1/2;
}
#info-display .hero {
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/2;
}
#info-display .hero img {
    width: 100%;
}
#info-display h1 {
    font-family: "Black Ops One", Verdana;
    grid-row: 1/3;
    text-align: center;
    grid-column: 1/2;
    z-index: 1;
    color: var(--accent1-color);
    margin: 12% 20px 0px 20px;
    /* margin: 120px 20px 0px 20px; */
    background-color: var(--background-standout);
    width: fit-content;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    justify-self: center;
    border-radius: 10px;
    text-shadow: #000000 0px 2px;
}
#info-display p::first-letter {
    color: var(--accent1-color);
    font-size: 130%;
}
.float-left-25, .float-right-25 {
    width: 25%;
    border-radius: 10px;
    border: solid var(--secondary-color) 0px;
    overflow: hidden;
    background-color:rgb(255, 255, 255);
    box-shadow:#00000012 12px 12px 4px;
}

.float-left-25 {
    float: left;
    margin-right: 20px;
}
.float-right-25 {
    float: right;
    margin-left: 20px;
}
.float-right-25 img, .float-left-25 img {
    width: 100%;
}
.float-right-25 .text, .float-left-25 .text {
    padding: 5px;
    color: var(--secondary-color);
    font-size: .7em;
}
#freq-list table {
    text-align: right;
}
tr td:nth-child(1) {
    text-align: left;
}
.scroll-rounded-corners { /*Fixes scroll bar over rounded corner. */
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-radius: 15px;
    box-sizing: border-box;
    overflow:hidden;
   
}


.ex-vhfband {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    background-color: #ff000055;
    width: 25px;
    height: 250px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    text-align: center;
    position:fixed;
    top: 300px;
    left: 365px;
    padding-right: 5px;
}
.ex-2meterband {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    background-color: #00ff0055;
    width: 25px;
    height: 70px;
    padding-right: 5px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    text-align: center;
    position:fixed;
    top: 330px;
    left: 335px;
}
@media screen and (max-width: 900px) {
    .content {
        display: grid;
        grid-template-rows: 290px minmax(300px, 100%) 50px;
        height: 100%;
    }
    main {

        grid-template-columns: auto;
        grid-template-rows: 140px auto;
    }
    .burger {
        /*display: block; */
        display: none
    }
    nav a {
        display: block;
        text-align: center;
        margin-bottom: 2px;
        font-size: .3em;
    }
    nav input {
        width: 100%;
        
    }
}