html body {
    margin: 0px;
    height: 100vh;
}

.content {
    background-color: aliceblue;
}

.river-text-right {
    display: grid;
    grid-template-columns: 80px 320px auto;
    grid-template-rows: 50px auto auto;
    background-color: white;
    margin: 0px;
    padding: 30px;
}
.river-text-right .title {
    color: #114b5f;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    grid-column: 1/4;
    grid-row: 1/1;
    z-index: 1;
    text-shadow: #ffffff 1px 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.river-text-right .text {
    background: linear-gradient(90deg, rgba(235,157,109,0.7) 0%, rgba(235,157,109,1) 35%, rgba(235,157,109,1) 100%);
    text-shadow: #ffffff 1px 1px 0px;
    color: #114b5f;
    text-align: justify;
    grid-column: 2/4;
    grid-row: 2/3;
    z-index: 1;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.river-text-right .image {
    grid-column: 1/3;
    grid-row: 1/4;
    z-index: 0;
    
}
.river-text-right .image img {
    width: 400px;
    box-shadow: #114b5f 5px 5px 10px;

}










.river-text-left {
    display: grid;
    grid-template-columns: auto 320px 80px;
    grid-template-rows: 50px auto auto;
    background-color: white;
    margin: 0px;
    padding: 30px;
}
.river-text-left .title {
    color: #114b5f;
    font-size: 2em;
    padding: 10px;
    grid-column: 1/4;
    grid-row: 1/1;
    z-index: 1;
    text-shadow: #ffffff 1px 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.river-text-left .text {
    background: linear-gradient(90deg, rgba(235,157,109,1) 0%, rgba(235,157,109,1) 35%, rgba(235,157,109,0.7) 100%);
    text-shadow: #ffffff 1px 1px 0px;
    color: #114b5f;
    text-align: justify;
    grid-column: 1/3;
    grid-row: 2/3;
    z-index: 1;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.river-text-left .image {
    grid-column: 2/4;
    grid-row: 1/4;
    z-index: 0;
    
}
.river-text-left .image img {
    width: 400px;
    box-shadow: #114b5f 5px 5px 10px;

}